/* Style de base pour le projet */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

section {
    padding: 20px;
}

h1, h2 {
    margin: 0.5em 0;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}
